<div id="gui" style="width:100%; height:auto;">
<div id="jxgbox"  ></div>
<div id="sketchometryPanel">


    <!-- mainWindow -->
    <div id="mainWindow" data-bind="with: GUI">
	
        <div id="menu" class="toolbar_panel" >

            <!-- Main toolbar -->
            <!-- Toolbar - left part-->
            <div id="undo" class="toolbar_item float_left hidden"><div class="toolbar_icon float_left">&#xe60f;</div><div class="toolbar_label float_left"></div></div>
            <div id="redo" class="toolbar_item float_left hidden"><div class="toolbar_icon  float_left disabled">&#xe610;</div><div class="toolbar_label float_left"></div></div>
            <div id="drag" class="toolbar_item float_left" data-bind="click: $parent.Drag, css:$parent.DragActive"><div class="toolbar_icon float_left">&#xe611;</div><div class="toolbar_label float_left"></div></div>
            <div id="construct" class="toolbar_item float_left toolbar_selected hidden"><div class="toolbar_icon float_left">&#xe612;</div><div class="toolbar_label float_left">Ruler</div></div>
            <div id="rect" class="toolbar_item float_left" data-bind="click: $parent.drawRect, css:$parent.RectActive"><div class="toolbar_icon float_left">&#xE653;</div><div class="toolbar_label float_left"></div></div>
            <div id="circle" class="toolbar_item float_left" data-bind="click: $parent.drawCircle, css:$parent.CircleActive"><div class="toolbar_icon float_left">&#xE698;</div><div class="toolbar_label float_left"></div></div>
            <div id="line" class="toolbar_item float_left" data-bind="click: $parent.drawLine, css:$parent.LineActive"><div class="toolbar_icon float_left">&#xE63E;</div><div class="toolbar_label float_left"></div></div>
            <div id="polygon" class="toolbar_item float_left" data-bind="click: $parent.drawPolygon, css:$parent.PolygonActive"><div class="toolbar_icon float_left">&#xE615;</div><div class="toolbar_label float_left"></div></div>

			<div id="text" class="toolbar_item float_left" data-bind="click: $parent.drawText, css: $parent.TextActive"><div class="toolbar_icon float_left">&#xe618;</div><div class="toolbar_label float_left"></div></div>
			

            <!-- Toolbar - right part-->
			<input type="file" accept=".txt" data-bind="attr:{id:$parent.InputId}" style="display: none">
			<div id="loadimage" class="toolbar_item float_right hidden" data-bind="click: $parent.LoadImage"><div class="toolbar_icon">&#xe66b;</div></div>
			<input type="file" accept="image/*" data-bind="attr:{id:$parent.ImageInputId}" style="display: none">
			
			<div id="img_background" class="toolbar_item float_right" data-bind="click: $parent.LoadImage2"><div class="toolbar_icon">&#xe688;</div></div>
			<input type="file" accept="image/*" data-bind="attr:{id:$parent.ImageInputId2}" style="display: none">
			
			<div id="delete" class="toolbar_item float_right" data-bind="click: $parent.removeAll" ><div class="toolbar_icon">&#xe604;</div></div>
			<div id="zoom" class="toolbar_item float_right" data-bind="click: $parent.ShowZoomingBar, css:$parent.ZoomActive" ><div class="toolbar_icon">&#xE6A5;</div></div>
			

        </div>

        <div id="messages" class="toolbar_panel not-displayed">
            <div id="messagesClose" class="float_right"><div class="messages_close_icon">&#xe67c;</div></div>
            <div id="messagesExe" class="">
                <div id="statusTextBox" class="not-displayed"></div>
            </div>
        </div>

        <!-- Toolbar for additional construction elements-->
        <div id="menu2" class="toolbar_panel2">
            <div id="plot" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe614;</div><div class="toolbar_label float_left">Plot</div></div>
            <div id="angle" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe616;</div><div class="toolbar_label float_left">Winkel</div></div>
            <div id="sector" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe617;</div><div class="toolbar_label float_left">Sektor</div></div>
            <div id="regpol" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe615;</div><div class="toolbar_label float_left">Regulå³¥s Polygon</div></div>
            <div id="tapemeasure" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe656;</div><div class="toolbar_label float_left">Lineal</div></div>
            <div id="slider" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe657;</div><div class="toolbar_label float_left">Regler</div></div>
            <div id="text" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe618;</div><div class="toolbar_label float_left">Text</div></div>
        </div>

        <!-- Toolbar for small devices -->
        <div class="toolbar_panel2" data-bind="attr:{id:$parent.LineBarId}, style:{display:$parent.LineBarStatus}">
            <div id="dash_line" title="dash_line" class="toolbar_item submenu_item_color float_right" data-bind="click:$parent.setShapeType.bind($data, 'line', 'dash'), css:$parent.DashActive"><div class="toolbar_icon float_left">&#xE657;</div></div>
            <div id="solid_line" title="solid_line" class="toolbar_item submenu_item_color float_right" data-bind="click:$parent.setShapeType.bind($data, 'line', 'solid'), css:$parent.SolidActive"><div class="toolbar_icon float_left">&#xe63e;</div></div>
            <div id="dot_line" title="dot_line" class="toolbar_item submenu_item_color float_right" data-bind="click:$parent.setShapeType.bind($data, 'line', 'dot'), css:$parent.DotActive"><div class="toolbar_icon float_left">&#xE613;</div></div>
			<div id="stroke_line" title="stroke" class="toolbar_item submenu_item_color float_right">
				<input type="range"  min="0" max="10" data-bind="value: $parent.LineStrokeWidth, event: { change: $parent.ShapeStrokeWidthChanged.bind($data, 'line') }" />
			</div>
			<div class="toolbar_item submenu_item_color float_right">
				<input class="color" data-bind="attr:{id:$parent.LineColorInputId, value:$parent.LineColorValue}" />
			</div>
			<div class="toolbar_item submenu_item_color float_left" data-bind="click: $parent.DeleteShape"><div class="toolbar_icon float_left">&#xe604;</div><div class="toolbar_label float_right"></div></div>

        </div>
		<div class="toolbar_panel2" data-bind="attr:{id:$parent.TextBarId}, style:{display:$parent.TextBarStatus}">
            
			<div id="stroke_line" title="stroke" class="toolbar_item submenu_item_color float_right">
				<input type="range"  min="0" max="30" data-bind="value: $parent.TextStrokeWidth, event: { change: $parent.TextStrokeWidthChanged }" />
			</div>
			<div class="toolbar_item submenu_item_color float_right">
				<input class="color" data-bind="attr:{id:$parent.TextColorInputId, value:$parent.TextColorValue}" />
			</div>
			<div class="toolbar_item submenu_item_color float_left" data-bind="click: $parent.DeleteShape"><div class="toolbar_icon float_left">&#xe604;</div><div class="toolbar_label float_right"></div></div>

        </div>
		<!-- Toolbar for polygon -->
		<div class="toolbar_panel2" data-bind="attr:{id:$parent.PolygonBarId}, style:{display:$parent.PolygonBarStatus}">
			<div id="dash_line" title="dash_line" class="toolbar_item submenu_item_color float_right" data-bind="click:$parent.setShapeType.bind($data, 'polygon', 'dash'), css:$parent.DashActive"><div class="toolbar_icon float_left">&#xE657;</div></div>
            <div id="solid_line" title="solid_line" class="toolbar_item submenu_item_color float_right" data-bind="click:$parent.setShapeType.bind($data, 'polygon', 'solid'), css:$parent.SolidActive"><div class="toolbar_icon float_left">&#xe63e;</div></div>
            <div id="dot_line" title="dot_line" class="toolbar_item submenu_item_color float_right" data-bind="click:$parent.setShapeType.bind($data, 'polygon', 'dot'), css:$parent.DotActive"><div class="toolbar_icon float_left">&#xE613;</div></div>
			<div id="stroke_line" title="stroke" class="toolbar_item submenu_item_color float_right">
				<input type="range"  min="0" max="10" data-bind="value: $parent.PolygonStrokeWidth, event: { change: $parent.ShapeStrokeWidthChanged.bind($data, 'polygon') }" />
			</div>
			<div class="toolbar_item submenu_item_color float_right">
				<input class="color" data-bind="attr:{id:$parent.PolygonColorInputId, value:$parent.PolygonColorValue}" />
			</div>
			<div class="toolbar_item submenu_item_color float_left" data-bind="click: $parent.DeleteShape"><div class="toolbar_icon float_left">&#xe604;</div><div class="toolbar_label float_right"></div></div>
        </div>
		<!-- Toolbar for Rectangle -->
		<div class="toolbar_panel2" data-bind="attr:{id:$parent.RectBarId}, style:{display:$parent.RectBarStatus}">
			<div id="dash_line" title="dash_line" class="toolbar_item submenu_item_color float_right" data-bind="click:$parent.setShapeType.bind($data, 'rectangle', 'dash'), css:$parent.DashActive"><div class="toolbar_icon float_left">&#xE657;</div></div>
            <div id="solid_line" title="solid_line" class="toolbar_item submenu_item_color float_right" data-bind="click:$parent.setShapeType.bind($data, 'rectangle', 'solid'), css:$parent.SolidActive"><div class="toolbar_icon float_left">&#xe63e;</div></div>
            <div id="dot_line" title="dot_line" class="toolbar_item submenu_item_color float_right" data-bind="click:$parent.setShapeType.bind($data, 'rectangle', 'dot'), css:$parent.DotActive"><div class="toolbar_icon float_left">&#xE613;</div></div>
			<div id="stroke_line" title="stroke" class="toolbar_item submenu_item_color float_right">
				<input type="range"  min="0" max="10" data-bind="value: $parent.RectStrokeWidth, event: { change: $parent.ShapeStrokeWidthChanged.bind($data, 'rectangle') }" />
			</div>
			<div class="toolbar_item submenu_item_color float_right">
				<input class="color" data-bind="attr:{id:$parent.RectColorInputId, value:$parent.RectColorValue}" />
			</div>
			<div class="toolbar_item submenu_item_color float_left" data-bind="click: $parent.DeleteShape"><div class="toolbar_icon float_left">&#xe604;</div><div class="toolbar_label float_right"></div></div>
        </div>
		<!-- Toolbar for Circle -->
		<div class="toolbar_panel2" data-bind="attr:{id:$parent.CircleBarId}, style:{display:$parent.CircleBarStatus}">
			<div id="dash_line" title="dash_line" class="toolbar_item submenu_item_color float_right" data-bind="click:$parent.setShapeType.bind($data, 'circle', 'dash'), css:$parent.DashActive"><div class="toolbar_icon float_left">&#xE657;</div></div>
            <div id="solid_line" title="solid_line" class="toolbar_item submenu_item_color float_right" data-bind="click:$parent.setShapeType.bind($data, 'circle', 'solid'), css:$parent.SolidActive"><div class="toolbar_icon float_left">&#xe63e;</div></div>
            <div id="dot_line" title="dot_line" class="toolbar_item submenu_item_color float_right" data-bind="click:$parent.setShapeType.bind($data, 'circle', 'dot'), css:$parent.DotActive"><div class="toolbar_icon float_left">&#xE613;</div></div>
			<div id="stroke_line" title="stroke" class="toolbar_item submenu_item_color float_right">
				<input type="range"  min="0" max="10" data-bind="value: $parent.CircleStrokeWidth, event: { change: $parent.ShapeStrokeWidthChanged.bind($data, 'circle') }" />
			</div>
			<div class="toolbar_item submenu_item_color float_right">
				<input class="color" data-bind="attr:{id:$parent.CircleColorInputId, value:$parent.CircleColorValue}" />
			</div>
			<div class="toolbar_item submenu_item_color float_left" data-bind="click: $parent.DeleteShape"><div class="toolbar_icon float_left">&#xe604;</div><div class="toolbar_label float_right"></div></div>
        </div>
        <!-- Navigation toolbar -->
        <div class="toolbar_panel2" data-bind="attr:{id:$parent.ZoomBarId}, style:{display:$parent.ZoomBarStatus}"  >
            <div id="nav-zoom-out" class="toolbar_item submenu_item_color float_left" data-bind="click: $parent.ZoomOut"><div class="toolbar_icon float_left">&#xe633;</div></div>
            <div id="nav-zoom-100" class="toolbar_item submenu_item_color float_left"data-bind="click: $parent.Zoom100"><div class="toolbar_icon float_left">&#xe634;</div></div>
            <div id="nav-zoom-in" class="toolbar_item submenu_item_color float_left" data-bind="click: $parent.ZoomIn"><div class="toolbar_icon float_left">&#xe632;</div></div>

            <div id="nav-left" class="toolbar_item submenu_item_color float_left" data-bind="click: $parent.ShiftLeft"><div class="toolbar_icon float_left">&#xe61f;</div></div>
            <div id="nav-up" class="toolbar_item submenu_item_color float_left" data-bind="click: $parent.ShiftUp" ><div class="toolbar_icon float_left">&#xe620;</div></div>
            <div id="nav-center" class="toolbar_item submenu_item_color float_left" data-bind="click: $parent.ShiftCenter"><div class="toolbar_icon float_left">&#xe622;</div></div>
            <div id="nav-down" class="toolbar_item submenu_item_color float_left" data-bind="click: $parent.ShiftDown"><div class="toolbar_icon float_left">&#xe621;</div></div>
            <div id="nav-right" class="toolbar_item submenu_item_color float_left" data-bind="click: $parent.ShiftRight" ><div class="toolbar_icon float_left">&#xe61e;</div></div>
        </div>

        <!-- Toolbar for input elements for menu2 -->
        <div id="menu5" class="toolbar_panel2 center">
            <div id="regpol_input" class="menu5-span-regpol">
                <div class="float_left menu5-span-regpol-label"><label id="polygonCornersLabel" for="polygonCorners"></label></div>
                <div id="polygonCornersMinus" class="property_item_radiobutton property_item_radiobutton_left margin_36 float_left">&#xe623;</div>
                <input id="polygonCorners"  type="text" pattern="[0-9]*" class="property_item_numberfield field float_left" value="1"/>
                <div id="polygonCornersPlus" class="property_item_radiobutton property_item_radiobutton_right float_left">&#xe622;</div>


            </div>
            <div id="slider_input" class="menu5-span">
                <label id="sliderStartLabel" for="sliderStart"></label>
                <input id="sliderStart" type="text" size="2" class="input-text-small" placeholder="Number" />
                <label id="sliderEndLabel" for="sliderEnd"></label>
                <input id="sliderEnd" type="text" size="2" class="input-text-small" placeholder="Number" />
                <label id="sliderIniLabel" for="sliderIni"></label>
                <input id="sliderIni" type="text" size="2" class="input-text-small" placeholder="Number" />
                <label id="sliderNameLabel" for="sliderName"></label>
                <input id="sliderName" type="text" size="2" class="input-text-small" placeholder="Name" />
            </div>
        </div>

        <!-- Toolbar for measurement -->
        <div id="menu6" class="toolbar_panel2 center">
            <div class="toolbar_item_menu6 submenu_item_color"><div id="measurementPreview" class="toolbar_label"></div></div>
        </div>

        <!-- Toolbar for board properties -->
        <div id="menu7" class="toolbar_panel2 center">
            <div id="grid" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe62d;</div><div class="toolbar_label float_left">Grid</div></div>
            <div id="axes" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe630;</div><div class="toolbar_label float_left">Achsen</div></div>
            <div id="snaptogrid" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe62e;</div><div class="toolbar_label float_left">STG</div></div>
            <!--<div id="snaptopoint" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe62f;</div><div class="toolbar_label float_left">STP</div></div>-->
            <div id="cleartraces" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe631;</div><div class="toolbar_label float_left">Clear traces</div></div>
            <!--<div id="clearall" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe604;</div><div class="toolbar_label float_left">Clear all</div></div>-->
            <div id="moreboardprops" class="toolbar_item submenu_item_color float_left"><div class="toolbar_icon float_left">&#xe613;</div><div class="toolbar_label float_left">Mehr</div></div>
        </div>

    <div id="status-box" class="not-displayed hidden">
        <div id="status" class="">
            <div id="recognition_line" class="not-displayed"></div>
            <div id="recognition_segment" class="not-displayed"></div>
            <div id="recognition_ray" class="not-displayed"></div>
            <div id="recognition_quadrilateral" class="not-displayed"></div>
            <div id="recognition_midpoint" class="not-displayed"></div>
            <div id="recognition_circle" class="not-displayed"></div>
            <div id="recognition_circle2points" class="not-displayed"></div>
            <div id="recognition_triangle" class="not-displayed"></div>
            <div id="recognition_slopetriangle" class="not-displayed"></div>
            <div id="recognition_normal" class="not-displayed"></div>
            <div id="recognition_reflection" class="not-displayed"></div>
            <div id="recognition_bisector" class="not-displayed"></div>
            <div id="recognition_perpendicularBisector" class="not-displayed"></div>
            <div id="recognition_tangent" class="not-displayed"></div>
            <div id="recognition_parallel" class="not-displayed"></div>
            <div id="recognition_polygon" class="not-displayed"></div>
            <div id="recognition_sector" class="not-displayed"></div>
            <div id="recognition_angle" class="not-displayed"></div>
            <div id="recognition_vector" class="not-displayed"></div>
        </div>
    </div>

    

    <!-- PropertyDialog -->
   

        <div id="propertyDlgHandle" class="property_panel_bar hidden">
            <div class="property_panel_bar_label float_left"></div>
            <div id="propertyDlgHandleClose" class="property_panel_bar_button float_right">&#xe67c;</div>
        </div>

        <!--<input id="id" type="hidden" value="">-->
        <div id="property-list" class="hidden">
            <div id="property_label" class="property_item">
                <div class="property_item_icon float_left">&#xe63c;</div>
                <input type="text" class="property_item_textfield property_item_textfield_name float_left"
                    placeholder="Name" />
                <div class="property_item_radiobutton property_item_radiobutton_name_visible float_left icon_off">&#xe635;</div>
                <div class="property_item_radiobutton property_item_radiobutton_name_fix property_item_radiobutton_right float_left icon_off">&#xe636;</div>
            </div>
            <div id="property_coords" class="property_item">
                <div class="property_item_icon float_left">&#xe671;</div>
                <div class="property_item_label float_left">Koordinaten</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <input type="text" class="property_item_textfield margin_36 float_left" value="Abc12"/>
                    <input type="text" class="property_item_textfield float_left" value="Abc12"/>
                </div>
            </div>
            <div id="property_functionterm" class="property_item">
                <div class="property_item_icon float_left">&#xe614;</div>
                <div class="property_item_label float_left">Term (todo)</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <input type="text" class="property_item_textfield_long  margin_36 float_left" placeholder="Text" />
                </div>
            </div>
            <div id="property_radius" class="property_item">
                <div class="property_item_icon float_left">&#xe69b;</div>
                <div class="property_item_label float_left">Term (todo)</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <input type="text" class="property_item_textfield_long  margin_36 float_left" placeholder="Text" />
                </div>
            </div>
            <div id="property_text" class="property_item">
                <div class="property_item_icon float_left">&#xe63c;</div>
                <div class="property_item_label float_left">Text (todo)</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <input type="text" class="property_item_textfield_long  margin_36 float_left" placeholder="Text" />
                </div>
            </div>
            <div id="property_range" class="property_item">
                <div class="property_item_icon float_left">&#xe69f;</div>
                <div class="property_item_label float_left">Koordinaten</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <input type="text" class="property_item_textfield margin_36 float_left" value="Abc12"/>
                    <input type="text" class="property_item_textfield float_left" value="Abc12"/>
                </div>
            </div>
            <div id="property_snapwidth" class="property_item">
                <div class="property_item_icon float_left">&#xe657;</div>
                <div class="property_item_label float_left">Term (todo)</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <input type="text" class="property_item_textfield_long  margin_36 float_left" placeholder="Text" />
                </div>
            </div>
            <div id="property_fixed" class="property_item">
                <div class="property_item_icon float_left">&#xe636;</div>
                <div class="property_item_label float_left">Fix</div>
                <div class="property_item_button float_right"><input type="checkbox" /></div>
            </div>
            <div id="property_trace" class="property_item">
                <div class="property_item_icon float_left">&#xe643;</div>
                <div class="property_item_label float_left">Spur</div>
                <div class="property_item_button float_right"><input type="checkbox" /></div>
            </div>
            <div id="property_draggable" class="property_item">
                <div class="property_item_icon float_left">&#xe6a1;</div>
                <div class="property_item_label float_left">Fix</div>
                <div class="property_item_button float_right"><input type="checkbox" /></div>
            </div>
            <div id="property_size" class="property_item">
                <div class="property_item_icon float_left">&#xe644;</div>
                <div class="property_item_label float_left">PunktgròŸ¥¼/div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <div class="property_item_radiobutton property_item_radiobutton_left margin_36 float_left">&#xe623;</div>
                    <input type="text" class="property_item_numberfield float_left" value="1"/>
                    <div class="property_item_radiobutton property_item_radiobutton_right float_left">&#xe622;</div>
                </div>
            </div>
            <div id="property_strokewidth" class="property_item">
                <div class="property_item_icon float_left">&#xe63f;</div>
                <div class="property_item_label float_left">Linienstå³«e</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <div class="property_item_radiobutton property_item_radiobutton_left margin_36 float_left">&#xe623;</div>
                    <input type="text" pattern="[0-9]*" class="property_item_numberfield field float_left" value="1"/>
                    <div class="property_item_radiobutton property_item_radiobutton_right float_left">&#xe622;</div>
                </div>
            </div>
            <div id="property_lineendings" class="property_item">
                <div class="property_item_icon float_left">&#xe66e;</div>
                <div class="property_item_label float_left">Linienenden</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <div id="straightFirst" class="property_item_radiobutton property_item_radiobutton_left margin_36 float_left">&#xe64c;</div>
                    <div id="straightLast" class="property_item_radiobutton property_item_radiobutton_right float_left selected">&#xe64d;</div>
                    <div id="firstArrow" class="property_item_radiobutton property_item_radiobutton_left property_item_radiobutton_left_margin float_left selected">&#xe61f;</div>
                    <div id="lastArrow" class="property_item_radiobutton property_item_radiobutton_right float_left">&#xe61e;</div>
                </div>
            </div>
            <div id="property_face" class="property_item">
                <div class="property_item_icon float_left">&#xe66d;</div>
                <div class="property_item_label float_left">Punktform</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <div id="point_circle" class="property_item_radiobutton property_item_radiobutton_left margin_36 float_left">&#xe645;</div>
                    <div id="point_square" class="property_item_radiobutton float_left">&#xe646;</div>
                    <div id="point_plus" class="property_item_radiobutton float_left selected">&#xe622;</div>
                    <div id="point_cross" class="property_item_radiobutton property_item_radiobutton_right float_left">&#xe625;</div>
                </div>
            </div>
            <div id="property_strokecolor" class="property_item">
                <div class="property_item_icon float_left">&#xe66c;</div>
                <div class="property_item_label float_left">Linienfarbe</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <div class="property_item_colorfield col_01 property_item_colorfield_top_left float_left margin_36"></div>
                    <div class="property_item_colorfield col_02 float_left"></div>
                    <div class="property_item_colorfield col_03 float_left"></div>
                    <div class="property_item_colorfield col_04 property_item_colorfield_right property_item_colorfield_top_right float_left">&#xe674;</div>
                    <div class="property_item_colorfield col_05 float_left margin_36"></div>
                    <div class="property_item_colorfield col_06 float_left"></div>
                    <div class="property_item_colorfield col_07 col_selected float_left"></div>
                    <div class="property_item_colorfield col_08 property_item_colorfield_right float_left"></div>
                    <div class="property_item_colorfield col_09 property_item_colorfield_bottom property_item_colorfield_bottom_left float_left margin_36"></div>
                    <div class="property_item_colorfield col_10 property_item_colorfield_bottom float_left"></div>
                    <div class="property_item_colorfield col_11 property_item_colorfield_bottom float_left"></div>
                    <div class="property_item_colorfield col_12 property_item_colorfield_bottom property_item_colorfield_right property_item_colorfield_bottom_right float_left"></div>
                </div>
            </div>
            <div id="property_fillcolor" class="property_item">
                <div class="property_item_icon float_left">&#xe66b;</div>
                <div class="property_item_label float_left">Fð¬¬¦arbe</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <div class="property_item_colorfield col_01 property_item_colorfield_top_left float_left margin_36"></div>
                    <div class="property_item_colorfield col_02 float_left"></div>
                    <div class="property_item_colorfield col_03 float_left"></div>
                    <div class="property_item_colorfield col_04 property_item_colorfield_right property_item_colorfield_top_right float_left">&#xe674;</div>
                    <div class="property_item_colorfield col_05 float_left margin_36"></div>
                    <div class="property_item_colorfield col_06 float_left"></div>
                    <div class="property_item_colorfield col_07 col_selected float_left"></div>
                    <div class="property_item_colorfield col_08 property_item_colorfield_right float_left"></div>
                    <div class="property_item_colorfield col_09 property_item_colorfield_bottom property_item_colorfield_bottom_left float_left margin_36"></div>
                    <div class="property_item_colorfield col_10 property_item_colorfield_bottom float_left"></div>
                    <div class="property_item_colorfield col_11 property_item_colorfield_bottom float_left"></div>
                    <div class="property_item_colorfield col_12 property_item_colorfield_bottom property_item_colorfield_right property_item_colorfield_bottom_right float_left"></div>
                </div>
            </div>
            <div id="property_opacity" class="property_item">
                <div class="property_item_icon float_left">&#xe640;</div>
                <div class="property_item_label float_left">Transparenz</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <div class="property_item_radiobutton property_item_radiobutton_left margin_36 float_left">&#xe623;</div>
                    <input type="text" class="property_item_numberfield field float_left" value="1"/>
                    <div class="property_item_radiobutton property_item_radiobutton_right float_left">&#xe622;</div>
                </div>
            </div>
            <div id="property_textcolor" class="property_item">
                <div class="property_item_icon float_left">&#xe66a;</div>
                <div class="property_item_label float_left">Textfarbe</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <div class="property_item_colorfield col_01 property_item_colorfield_top_left float_left margin_36"></div>
                    <div class="property_item_colorfield col_02 float_left"></div>
                    <div class="property_item_colorfield col_03 float_left"></div>
                    <div class="property_item_colorfield col_04 property_item_colorfield_right property_item_colorfield_top_right float_left">&#xe674;</div>
                    <div class="property_item_colorfield col_05 float_left margin_36 float_left"></div>
                    <div class="property_item_colorfield col_06 float_left"></div>
                    <div class="property_item_colorfield col_07 col_selected float_left"></div>
                    <div class="property_item_colorfield col_08 property_item_colorfield_right float_left"></div>
                    <div class="property_item_colorfield col_09 property_item_colorfield_bottom property_item_colorfield_bottom_left float_left margin_36"></div>
                    <div class="property_item_colorfield col_10 property_item_colorfield_bottom float_left"></div>
                    <div class="property_item_colorfield col_11 property_item_colorfield_bottom float_left"></div>
                    <div class="property_item_colorfield col_12 property_item_colorfield_bottom property_item_colorfield_right property_item_colorfield_bottom_right float_left"></div>
                </div>
            </div>
            <div id="property_textsize" class="property_item">
                <div class="property_item_icon float_left">&#xe641;</div>
                <div class="property_item_label float_left">Textgroesse</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <div class="property_item_radiobutton property_item_radiobutton_left margin_36 float_left">&#xe623;</div>
                    <input type="text" class="property_item_numberfield field float_left" value="1"/>
                    <div class="property_item_radiobutton property_item_radiobutton_right float_left">&#xe622;</div>
                </div>
            </div>
            <div id="property_grid" class="property_item">
                <div class="property_item_icon float_left">&#xe62d;</div>
                <div class="property_item_label float_left">Grid</div>
                <div class="property_item_button float_right"><input type="checkbox" /></div>
            </div>
            <div id="property_axes" class="property_item">
                <div class="property_item_icon float_left">&#xe630;</div>
                <div class="property_item_label float_left">Achsen</div>
                <div class="property_item_button float_right"><input type="checkbox" /></div>
            </div>
            <div id="property_axesscale" class="property_item">
                <div class="property_item_icon float_left">&#xe66f;</div>
                <div class="property_item_label float_left">Skalierung</div>
                <div class="property_item_button float_right close_button">&#xe638;</div>
                <div class="property_item_control">
                    <input id="axes_scale_x" type="text" class="property_item_textfield margin_36 float_left" value="1"/>
                    <input id="axes_scale_y" type="text" class="property_item_textfield float_left" value="1"/>
                </div>
            </div>
            <div id="property_snaptogrid" class="property_item">
                <div class="property_item_icon float_left">&#xe62e;</div>
                <div class="property_item_label float_left">STG</div>
                <div class="property_item_button float_right"><input type="checkbox" /></div>
            </div>
            <div id="property_snaptopoint" class="property_item">
                <div class="property_item_icon float_left">&#xe62f;</div>
                <div class="property_item_label float_left">STP</div>
                <div class="property_item_button float_right"><input type="checkbox" /></div>
            </div>
            <div id="property_clearall" class="property_item">
                <div class="property_item_icon float_left">&#xe604;</div>
                <div class="property_item_label float_left"></div>
                <div class="property_item_button float_right actionbutton">&#xe61c;</div> <!-- e627 -->
            </div>
            <div id="property_cleartraces" class="property_item">
                <div class="property_item_icon float_left">&#xe631;</div>
                <div class="property_item_label float_left"></div>
                <div class="property_item_button float_right actionbutton">&#xe61c;</div>
            </div>

            <div id="ctxObjects" class=""></div>
            <div id="ctxObjectsExtra" class=""></div>
        </div>
    </div>
    
    <div id="keyboardPanel" class="center hidden" >
        <div id="kb-text-panel">
            <textarea id="kb-textbox" rows="1" class="clear" placeholder="Text">Hallo</textarea>
        </div>
        <div id="kb-toolbox">
            <div id="kb-go-panel" class="kbRight">
                <div id="key-value" class="kbLeft kb-single-button">
                    <span class="clearFont">&lt;value&gt;</span>
                </div>
                <div id="key-backspace" class="kbLeft kb-single-button">
                    &#xe69d;
                </div>
                <div id="key-clear" class="kbLeft kb-single-button">
                    &#xe69e;
                </div>
                <div id="key-go" class="kbLeft kb-single-button">
                    &#xe61c; <!--&#xe624;<span class="clearFont">Zeichnen</span>-->
                </div>
            </div>
            <div id="kb-tab-panel" class="kbLeft">
                <div id="kb-tab-keys" class="kbLeft kb-tab-button kb-tab-button-selected">
                    &#xe6a2;
                </div>
                <div id="kb-tab-fxn" class="kbLeft kb-tab-button">
                    &#xe6a3;
                </div>
                <div id="kb-tab-fx-list" class="kbLeft kb-tab-button">
                    &#xe65d;
                </div>
                <div id="kb-tab-par-list" class="kbLeft kb-tab-button">
                    &#xe65e;
                </div>
                <div id="kb-tab-rng" class="kbLeft kb-tab-button">
                    &#xe6a4;
                </div>
                <div id="kb-tab-hwr" class="kbLeft kb-tab-button">
                    &#xe69c;
                </div>
            </div>
            <div id="kb-keys-panel" class="kbTabContentPanel">
                <div class="keyBox">
                    <div id="key-plus" class="key keySep">
                        +
                    </div>
                    <div id="key-minus" class="key keySep">
                        -
                    </div>
                    <div id="key-mult" class="key keySep">
                        *
                    </div>
                    <div id="key-div" class="key">
                        /
                    </div>
                </div>
                <div class="keyBox">
                    <div id="key-percent" class="key keySep">
                        %
                    </div>
                    <div id="key-hat" class="key">
                        ^
                    </div>
                </div>
                <div class="keyBox">
                    <div id="key-left-bracket" class="key keySep">
                        (
                    </div>
                    <div id="key-right-bracket" class="key">
                        )
                    </div>
                </div>
                <div id="key-argx" class="keyBox key">
                    x
                </div>

                <div id="key-equal" class="keyBox key">
                    =
                </div>
                <div class="keyBox">

                    <div id="key-inf" class="key keySep">
                        8
                    </div>
                    <div id="key-eu" class="key keySep">
                        e
                    </div>
                    <div id="key-pi" class="key">
                        p
                    </div>
                </div>

            </div>
            <div id="kb-fxn-panel" class="kbTabContentPanel">
                <div class="keyBox">
                    <div id="key-exp" class="keyFx keySep">
                        exp
                    </div>
                    <div id="key-log" class="keyFx">
                        log
                    </div>
                </div>
                <div class="keyBox">

                    <div id="key-sin" class="keyFx keySep">
                        sin
                    </div>
                    <div id="key-cos" class="keyFx keySep">
                        cos
                    </div>
                    <div id="key-tan" class="keyFx">
                        tan
                    </div>
                </div>
                <div id="key-sqrt" class="keyBox keyFx">
                    sqrt
                </div>
                <div id="key-abs" class="keyBox keyFx">
                    abs
                </div>
                <div class="keyBox">

                    <div id="key-diff" class="keyFx keySep">
                        diff
                    </div>
                    <div id="key-int" class="keyFx">
                        int
                    </div>
                </div>
                <div class="keyBox">

                    <div id="key-X" class="keyFx keySep">
                        X( )
                    </div>
                    <div id="key-Y" class="keyFx">
                        Y( )
                    </div>

                </div>
                <div id="key-dist" class="keyBox keyFx">
                    dist( )
                </div>

            </div>
            <div id="kb-fx-list-panel" class="kbTabContentPanel"></div>
            <div id="kb-par-list-panel" class="kbTabContentPanel"></div>
            <div id="kb-rng-panel" class="kbTabContentPanel">
                x &#8712; [ &nbsp;
                <input id="ival-a" type="text" size="4" class="kb-input-text-small" placeholder="Number">
                &nbsp; , &nbsp;
                <input id="ival-b" type="text" size="4" class="kb-input-text-small" placeholder="Number"> &nbsp; ]
            </div>
            <div id="kb-hwr-panel" class="kbTabContentPanel">
                <canvas id="hwrCanvas"></canvas>
                <br>
                <button class="color-item hwr" id="btn-hwr-clear"></button>
                <button class="color-item hwr" id="btn-hwr-recognize"></button>
            </div>
        </div>
    </div>
    <!-- end keyboardKeyPanel -->

   <div id="handSymbol" class="not-displayed hidden">&#xe65F;</div>
</div>  <!-- End of mainWindow -->

<!-- modalWindow -->
<div id="modalWindow" class="center centered not-displayed hidden"></div>

<!-- modalWindow -->
<div id="dialog" class="center centered not-displayed hidden"></div>
</div> <!-- end sketchometryPanel -->
</div>
