.paginationclass{
    
margin: 19px 28px;    
}
.paginationclass span{
    margin-left:15px;
    display:inline-block;
}
.pagination-controle li{
    display: inline-block;
}
.pagination-controle button{
    font-size: 12px;
    margin-top: -26px;
    cursor:pointer;
    
}
.pagination{
    margin:5px 12px !important;
}
.aui .pagination ul>li {
  display: inline-block;
}

.loadingclass{
	text-align: center;
}

.imageclass{
	width: 100px !important; 
	height: 100px !important;
}
.navigationIcon{
	padding-top: 10px !important; 
	padding-right: 1000px !important;
}
